@import 'https://fonts.googleapis.com/css?family=Quicksand';

/* BODY */
body {
  background-color: #F9F9F9;
  font-family: Times, Georgia, Linux Libertine, Cambria, serif; 
  font-weight: normal;
}

/* HEADINGS */
h1 {
  font-weight: normal;
  margin: 0;
}

.aligner {
  height: 100vh; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* SEARCH-WIKI DIV */
.search-wiki{
  text-align: center;
}

.fa-search {
  cursor: pointer;
}

#search-input {
    width: 250px;
    padding: 12px 15px;
    margin: 8px 0;
}

.fa-times {
  cursor: pointer;
  margin-left: -25px;
}

/* SEARCH BAR */
.search-bar {
  display:none;
}

/* Search Input Media Query */
@media screen and (max-width: 335px) { 
  #search-input {
    width: 200px;
  }
}

/* RANDOM-SEARCH DIV */
.random-search {
  float: right;
  padding-top: 15px;
}

/* RANDOM SEARCH BUTTON COLOR */
#random-search-button {
  color: black;
} 
#random-search-button:visited {
  color: black;
}

.fa-question-circle {
  cursor: pointer;
}

/* DISPLAY RESULTS DIV */
#display-result{
  width: 85%;
  margin: 0 auto;
}


.result {
  background-color: white;
  padding: 10px 15px 10px 15px;
  margin: 15px;
  cursor: pointer;
}

.result p {
  font-family: "Quicksand";
}

h2 {
  font-family: "Quicksand";
}

.result:hover {
  border-left: 5px solid black;
}

a.result-link {
  color: black;
  text-decoration: none;
}

/* DISPLAY NONE CLASS */
.none {
  display: none;
}

